#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:black;
}

.nav-tabs
  .nav-link {
    border-radius: 0%;
  }

  
.nav-tabs .dropdown-menu {
    margin-top: 5%;
    margin-left: 20%;
  }
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

/* 
.read-the-docs {
  color: white;
} */
@media (max-width: 577px) {
  .sizingButton {
    width: 90%;
  }

  .sizingButtons {
    width: 50%;
  }
  .sizingUpdateForm {
    width: 100%;
    justify-content: center;
  }
  .stylingUpdateLabel {
    width: 100%;
    text-align: center;
  }
  .stylingUpdateButton {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .stylingUpdateInput {
    width: 100%
  }
  .sizeLogin {
    display: block;
    margin-top: 7%;
  }
  .orderForm{
    display: block;

  }
  .picSizing{
    width: 100%;
  }
  .detailPicSizing{
    width: 77%;
  }
  .cardSizing{
    padding: 0;
  }
  
}

@media (min-width: 578px) {
  .processSizing{
    width: 35%
  }
  .orderForm{

width: 85%;
display:flex;
  justify-content: center;

  }
  .picSizing{
    width: 75%;
  }
  .detailPicSizing{
    width: 50%;
  }
  .sizingImg {
    width: 75%;

  }

  .sizeLogin {
    display: inline;
    margin-left: 25%;

  }

  .sizingText {
    width: 60%;

  }

  .sizingButton {
    width: 50%;
  }

  .sizingForm {
    width: 50%;

  }

  .sizingUpdateForm {
    width: 100%;
  }


  .stylingUpdateLabel {
    width: 100%;
    text-align: center;

  }

  .stylingUpdateButton {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline;


  }

  .stylingUpdateInput {
    width: 100%;
    background-color:black;
    border-color: black; 
    color: black;
    text-wrap: wrap;
  }



  .toggle {
    background-color: yellow;
  }

}

.my-toast-container .Toastify__toast {
  background-color: rgb(255, 193, 7);
  color: black;
  font-size: 20px;
  /* width: 34vw; */
  /* padding: 30px 20px; */
}

.navbar-toggler {
  background-color: rgb(255, 193, 7);
}

.btn-link:hover {
  background-color:black;
}

